body {
    padding: 80px 0;
    background: url(http://78.11.120.39/photos/libra.jpg) no-repeat center top fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.container {

    padding: 15px;
    margin: 1 auto;
    border: 2px solid gray;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: table;

}
.overlay {
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*-webkit-filter: blur(5px);*/
}
.btn-primary {
    margin:auto;
}



.out_table {
    padding: 15px;
    margin-bottom:  10px;
    border: 2px solid white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: table;
    width: 100%;
}

.out_table_label {
    padding-bottom: 15px;
    font-family: Arial;
    text-decoration: bold;   
}

.errors {   
    font-size: 10px;
}

.login_form {
    margin: auto;
}

#checked {

    margin: 20px;
}

.row {
    padding-bottom: 20px;
}

.col-md-2 {
   text-align: center;
   font-size: 22px;
}

#login {
    font-size: 12px;
}
